.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}

.box {
    width: 100px;
    height: 300px;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.item {
    width: 40px;
    height: 40px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}