body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.myDiv {
    width: 250px;
    height: 250px;
    background-color: black;
    transition: background-color 0.3s ease; 
}

.myDiv:hover {
    background-color: blue;
}