#da{
    height:300px ;
    width: 300px;
    background-color: blue;
}


#da:hover{
    width: 400px;
    background-color: red;
}


#dat{
    height: 300px;
    width: 300px;
    background-color: orange;
}

#dat:hover{
    width: 400px;
    background-color: brown;
    
}