body{
    background-color:black ;
}

#ვეფხვი{
    color: orange;
}

#დათვი{
    color:red;
}

#მგელი{
    color: green;
}

#ლომი{
    color: blueviolet;
}

#კოალა{
    color: blue;
}

#A{
    color: aliceblue;
}

#B{
    color: aliceblue;
}

#C{
    color: aliceblue;
}

#D{
    color: aliceblue;
}

#I{
    color: aliceblue;
}