#s{
    color: blueviolet;
}


#x{
    text-align: center;
}

#n{
    
    color: brown;
}

#a{
    border-radius: 0%;
}

#b{
    border-radius: 0cqb;
}


#c{
    border-radius: 0cqw;
}

h1{
    text-align: center;
}
