body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}



div{
    transition: 3s;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: blue;
}

div:hover{
    transform: scale(4) translate(100px);
}