body{
    background-color: black;
}



#d2{
    background-color: gainsboro;
}

#d3{
    background-color: rgb(250, 10, 10); 
}


#d4{
    text-align: center; background-color: green;
}


#d5{
    text-align: center; background-color: blue;
}